
.commentsection {
    display: block;
    outline: none;
    border: none;
    height: 2em;
    font-size: 16px;
    margin-bottom: 1px;
    transition: 0.5s;
  }
  
  .commentsection:focus {
    border-bottom: 1px solid #0572ce;
    box-shadow: 0 1px 0 0 #0572ce;
    outline: none;
  }
  html{
    scroll-behavior: smooth;
  }
.adminlinks:hover{
    color: #0572ce;
    transition: 0.5s ;
}